@import "tailwindcss";

.entry-box {
  @apply bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-400 transition duration-300;
  
}

.login-page {
    @apply min-h-screen flex items-center justify-center flex-col;
}